@using CarFuel.Models;
@model Car

@{
  ViewBag.Title = "Add";
}

<h2>AddFillUp</h2>
<h3>
  CAR
</h3>

@using (Html.BeginForm()) {

  <fieldset>

    <!-- Form Name -->
    <legend>NEW CARS</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Name : </label>
      <div class="car-name">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-md" })
      </div>
    </div>       
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="add"></label>
      <div class="col-md-4">
        <button type="submit" name="add" class="btn btn-primary" id="add">Add</button>
      </div>
    </div>

  </fieldset>
}
